@font-face {
    font-family: TechnoRaceItalic;
    src: url("../fonts/TechnoRaceItalic.otf") format("opentype");
    font-weight: 100;
}

#brand, #nav-drop-menu{
    font-family: TechnoRaceItalic;
}
