* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: TechnoRaceItalic;
  src: url("../fonts/TechnoRaceItalic.otf") format("opentype");
  font-weight: 100; }

#brand, #nav-drop-menu {
  font-family: TechnoRaceItalic; }

@media (max-width: 1200px) {
  nav {
    flex-direction: column; }
  #brand {
    margin: 0.5rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    z-index: 2; }
  #nav-drop-down-container {
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem; }
  #nav-drop-menu {
    z-index: 1;
    margin-left: 0;
    background-color: aliceblue;
    margin-top: 30vw;
    width: 75%;
    position: fixed;
    top: 0%;
    left: 0%;
    flex-direction: column;
    align-items: stretch; }
  #nav-drop-menu ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  #nav-drop-menu li {
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #search-box {
    height: 90%;
    background-color: #3e3c45;
    display: flex;
    border-radius: 50px; }
  #search-box input {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem; }
  #search-box input:focus {
    border-radius: 50px;
    box-shadow: 0px 0px 1.5rem 0.5rem #4717F6; }
  .nav-drop-menu-invisible {
    display: none; }
  .nav-drop-menu-visible {
    display: flex; }
  .nav-item a:hover {
    color: #fff; } }

@media (max-width: 992px) {
  nav {
    flex-direction: column; }
  #brand {
    margin: 0.5rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    z-index: 2; }
  #nav-drop-down-container {
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem; }
  #nav-drop-menu {
    z-index: 1;
    margin-left: 0;
    background-color: aliceblue;
    margin-top: 30vw;
    width: 75%;
    position: fixed;
    top: 0%;
    left: 0%;
    flex-direction: column;
    align-items: stretch; }
  #nav-drop-menu ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  #nav-drop-menu li {
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #search-box {
    height: 90%;
    background-color: #3e3c45;
    display: flex;
    border-radius: 50px; }
  #search-box input {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem; }
  #search-box input:focus {
    border-radius: 50px;
    box-shadow: 0px 0px 1.5rem 0.5rem #4717F6; }
  .nav-drop-menu-invisible {
    display: none; }
  .nav-drop-menu-visible {
    display: flex; }
  .nav-item a:hover {
    color: #fff; } }

@media (max-width: 576px) {
  nav {
    flex-direction: column; }
  #brand {
    margin: 0.5rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    z-index: 2; }
  #nav-drop-down-container {
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem; }
  #nav-drop-menu {
    z-index: 1;
    margin-left: 0;
    background-color: aliceblue;
    margin-top: 30vw;
    width: 75%;
    position: fixed;
    top: 0%;
    left: 0%;
    flex-direction: column;
    align-items: stretch; }
  #nav-drop-menu ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  #nav-drop-menu li {
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #search-box {
    height: 90%;
    background-color: #3e3c45;
    display: flex;
    border-radius: 50px; }
  #search-box input {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem; }
  #search-box input:focus {
    border-radius: 50px;
    box-shadow: 0px 0px 1.5rem 0.5rem #4717F6; }
  .nav-drop-menu-invisible {
    display: none; }
  .nav-drop-menu-visible {
    display: flex; }
  .nav-item a:hover {
    color: #fff; } }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #080317ca;
  color: antiquewhite;
  width: 100%; }

.nav-item {
  padding: 0px 5px 3px;
  height: fit-content;
  width: fit-content;
  margin: 0 5px;
  font-size: 1em;
  background-color: aliceblue;
  box-shadow: 5px 5px #4717F6;
  border: solid 2px black; }

.nav-item a {
  color: #000; }

.nav-item a:hover {
  color: #fff; }

.nav-item:hover {
  color: #fff;
  background-color: #4717F6;
  box-shadow: 5px 5px  #fff; }

ul {
  list-style: none; }

body {
  background-color: #ababab;
  font-family: 'Josefin Sans', sans-serif; }
