* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@media (max-width: 576px) {
  nav {
    height: 15vw; }
  nav ul {
    z-index: 1;
    margin-left: 0;
    display: block;
    background-color: aliceblue;
    margin-top: 15vw; } }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #080317ca;
  color: antiquewhite;
  box-shadow: 0px 0px 1.5rem 0.5rem #4717F6;
  width: 100%; }

.nav-item {
  padding: 0px 5px 3px;
  height: fit-content;
  width: fit-content;
  margin: 0 5px;
  font-size: 1em;
  background-color: aliceblue;
  box-shadow: 5px 5px #4717F6;
  border: solid 2px black; }

.nav-item:hover {
  color: #fff;
  background-color: #4717F6;
  box-shadow: 5px 5px  #fff; }

a {
  color: #000;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background-color: #ababab;
  font-family: 'Josefin Sans', sans-serif; }
