* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@media (max-width: 576px) {
  header {
    height: 30vw; }
  nav {
    height: 15vw; }
  nav ul {
    z-index: 1;
    margin-left: 0;
    display: block;
    background-color: aliceblue;
    margin-top: 15vw; }
  #nav-drop-menu {
    width: 75%;
    position: fixed;
    top: 0%;
    left: 0%;
    flex-direction: column;
    align-items: stretch; }
  #nav-drop-menu ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  #nav-drop-menu li {
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #search-box {
    height: 50%;
    background-color: #3e3c45;
    display: flex;
    align-items: stretch;
    border-radius: 50px; }
  #search-box input {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem; }
  #search-box input:focus {
    border-radius: 50px;
    box-shadow: 0px 0px 1.5rem 0.5rem #4717F6; }
  .nav-drop-menu-invisible {
    display: none; }
  .nav-drop-menu-visible {
    display: flex; } }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #080317ca;
  color: antiquewhite;
  width: 100%; }

.nav-item {
  padding: 0px 5px 3px;
  height: fit-content;
  width: fit-content;
  margin: 0 5px;
  font-size: 1em;
  background-color: aliceblue;
  box-shadow: 5px 5px #4717F6;
  border: solid 2px black; }

.nav-item:hover {
  color: #fff;
  background-color: #4717F6;
  box-shadow: 5px 5px  #fff; }

a {
  color: #000;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background-color: #ababab;
  font-family: 'Josefin Sans', sans-serif; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #080317ca;
  color: antiquewhite;
  box-shadow: 0px 0px 1.5rem 0.5rem #4717F6;
  width: 100%; }
